.movie{
    display: inline-block;
    padding: 20px;
    vertical-align: top; 
}

.movie img{
    position: relative;
    top: -35px;
    left: 20px;
    width: 150px;
    height: auto;
    float: left;
    padding: 50px 50px 0px 40px;
    filter: drop-shadow(0px 2px 15px #aebbd3);
    z-index: 1;
}


.movie__data{
    background-color: white;
    padding: 25px;
    margin: 40px;
    width: 480px;
    height: 200px;
    filter: drop-shadow(0px 2px 6px #a7a7a7);
}

.movie__title{
    display: inline;
    padding-right: 10px;
}

.movie__year{
    display: inline;
}

.genres{
    list-style: none;
    margin: 7px;
    font-size: 15px;
    color: rgb(87, 87, 87);
}
.genres li{
    display: inline-block;
    margin-right: 5px;
}

.movie__summary{
    color: rgb(184, 184, 184);
    font-style: oblique;
}